* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body {
  background-color: rgb(252, 252, 125);
}
header {
  width: 100%;
  padding: 30px;
  background-color: rgb(55, 57, 55);
  color: rgb(255, 174, 0);
}

/* utilities */
.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}

.border-radius {
  border-radius: 10px;
}

/* body  */
.transaction-container {
  background-color: rgb(55, 57, 55);
  margin-top: 30px;
  border: 5px black solid;
  width: 50%;
  color: rgb(255, 174, 0);
  gap: 20px;
}
.child {
  width: 90%;
  justify-content: space-between;
}

.btns {
  color: rgb(55, 57, 55);
  background-color: rgb(255, 174, 0);
  padding: 5px;
}
.transaction-view {
  height: 350px;
  width: 100%;
  gap: 5px;
}
.trans {
  width: 100%;
  height: 15%;
}

/* <div class="trans flex center row space-around" id="transaction-output">
<div>
  <h4></h4>
</div>
<div>
  <h4></h4>
</div>
<div>
  <h4></h4>
</div>
<div>
  <input class="btns"  type="button" value="Edit Transaction" />
</div>
<div>
  <input class="btns"  type="button" value="Delete Transaction" />
</div>
</div> */
@media only screen and (max-width: 600px) {
  .child {
    width: 90%;
    justify-content: space-between;
    flex-direction: column;
  }

  .trans {
    width: 100%;
    height: 15%;
    flex-direction: column;
  }
  .btns {
    color: rgb(55, 57, 55);
    background-color: rgb(255, 174, 0);
    padding: 5px;
    width: 100px;
  }
}
